doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    title DevEnv
    link(rel="stylesheet",href="./css/style.css",type="text/css",media="screen")
  body
    #container
      include common_blocks/header/header.pug
      include common_blocks/footer/footer.pug